# stuff from lightning studio;
.bash_history
.bashrc
.cache
.condarc
.config
.docker
.dotnet
.git
.gitconfig
.hushlogin
.idea
.ipython
.jupyter
.lightning_studio
.lightningignore
.local
.oh-my-zsh
.profile
.python_history
.ssh
.sudo_as_admin_successful
.viminfo
.vscode
.vscode-server
.wget-hsts
.zcompdump
.zsh_history
.zshrc

# my stuff to ignore;
LICENSE
README.md
assets
data/raw
data/processed
dummy_config.yaml
fit_config.yaml
lightning_logs
notebooks
*.png
.pytest_cache
*__pycache__